.container-fluid {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.calculator {
  width: 450px;
  border: solid 1px #ccc;
}

.calculator p {
 padding: .5rem;
 margin-bottom: 0;
}

.input {
  padding: 0 15px;
  line-height: 60px;
  height: 60px;
  width: 100%;
  background-color: #e6e6e6;
  border: none;
  box-shadow: none;
  font-size: 1.8em;
  text-align: right;
}

.btns div {
  background-color: #efefef;
  text-align: center;
  line-height: 48px;
  height: 48px;
  font-weight: 500;
  font-size: 1.4em;
  user-select: none;
}
.btns div:nth-child(4n+2),
.btns div:nth-child(4n+3),
.btns div:nth-child(4n+4) {
  border-left: solid 2px #ccc;
}

.btns div:nth-child(n + 5) {
  border-top: solid 2px #ccc;
}
